/*  your css code here. If applicable */
/* .piece {
  width: 10em; height: 8.66em;
  background: yellow;
  transition: .5s;
  cursor: pointer;
}
.piece {
  position: relative;
  margin: 4em auto;
  transform: rotate(-30deg) skewX(30deg);
}
.piece:before, .piece:after {
  position: absolute;
  width: inherit; height: inherit;
  background: inherit;
  content: '';
}
.piece:before {
  transform: skewX(-30deg) skewX(-30deg);
}
.piece:after {
  transform: skewX(-30deg) rotate(-60deg) skewX(-30deg);
} */

.star{
	width: 80px;
	height:80px;
	background-color: yellow;
	position:relative;
	margin: 50px auto;
	border-bottom: 100px solid rgb(255, 255, 0);
	border-left: 50px solid rgba(0, 0, 0, 0);
	border-right: 50px solid rgba(0, 0, 0, 0);
	transform: rotate(-30deg) skewX(30deg);
}

/* .star::before{
	content: '';
	height: 200px;
	width: 200px;
	background-color: inherit;
	position: absolute;
	left: -50px;
	border-bottom: 100px solid rgb(255, 255, 0);
} */
.star::after{
	content: '';
	height: 190px;
	width: 190px;
	background-color: inherit;
	position: absolute;
	left: -50px;
/* 	border-bottom: 100px solid rgb(255, 255, 0); */
}


.star::before{
	transform: skewX(-30deg) skewX(-30deg);
}

.star::after{
	transform: rotate(-50deg);
}






